{% extends "layout.html" %}

{% block title %}
    Roadmapper - Home
{% endblock %}

{% block body %}
    <style>
        :root {
            --roadmap-bg: {{ roadmap_color }};
        }
    </style>

    <div style="position: absolute; margin: 0; top: 0; left: 0;">
        <h1 style="font-size: 40px; margin: 0; padding: 5px;">
            {{ roadmap_name | default('Untitled', true) }}
        </h1>
    </div>
    <div style="position: absolute; margin: 0; top: 0; right: 0; padding: 5px;">
        <a style="color: black; padding: 8px 16px; text-decoration: none;" href="{{ url_for('customize', id=roadmap.id) }}">&#9998;</a>
    </div>
{% endblock %}